<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Mercado</title>
    <style>
        body {
            font: 18px arial;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="menu-overlay"></div>
    <a href="#" class="menu-open">Open Menu</a>
    
    <div class="side-menu-wrapper">
    <a href="#" class="menu-close">×</a>
    <ul>
        <li><a href="http://www.google.com" target="_blank" rel="nofollow">Google Search</a></li>
        <li><a href="http://www.yahoo.com" target="_blank" rel="nofollow">Yahoo Search</a></li>
        <li><a href="http://www.facebook.com" target="_blank" rel="nofollow">Facebook</a></li>
        <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Flickr</a></li>
    
    </ul>
    </div>
    <h1>Testess</h1>
    <p>{{body}}</p>
    <script>
        var teste='oi'
    </script> 
</body>
</html>


